@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 8% 95%;
    --foreground: 30 8% 5%;

    --card: 40 10% 94%;
    --card-foreground: 30 8% 5%;

    --popover: 40 10% 94%;
    --popover-foreground: 30 8% 5%;

    --primary: 37 56% 69%;
    --primary-foreground: 0 9% 2%;

    --secondary: 40 12% 91%;
    --secondary-foreground: 30 8% 5%;

    --muted: 30 8% 91%;
    --muted-foreground: 37 9% 45%;

    --accent: 45 8% 91%;
    --accent-foreground: 30 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 9% 87%;
    --input: 40 9% 80%;
    --ring: 38 36% 72%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;

    --card: 30 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 30 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 32 39% 47%;
    --primary-foreground: 0 0% 2%;

    --secondary: 30 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 30 5% 22%;
    --muted-foreground: 30 5% 49%;

    --accent: 33 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5% 12%;
    --input: 30 4% 18%;
    --ring: 32 38% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    height: 100vh;
  }
}